<!DOCTYPE html>
<html>
<head>
  <title>Hi there</title>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="{{.JSUrl}}"></script>
  <link rel="stylesheet" type="text/css" href="{{.CSSUrl}}">
</head>
<body>
  <div style="display: none" id="htmlObjectPrototypes">
    <div id="protoDivisionMarker" class="divisionMarker"></div>
    <div id="protoDivisionDetails" class="dropdown divisionDetails" style="display: none">
      <span class="paneInvalidAlert" style="display: none"></span>
      <ul></ul>
      <input type="button" class="editButton" value="Edit">
      <input type="button" class="cancelButton" style="display: none" value="Cancel">
      <input type="button" class="commitButton" style="display: none" value="Commit">
    </div>
    <ul>
      <li id="protoUnitListItem" class="unitListItem">
        <div class="type"></div>
        <span class="value"></span>
        <input type="text" class=".editField" style="display: none">    
        <span class="invalidAlert" style="display: none"></span>
      </li>
    </ul>
    <div id="protoUnitTypes">
      {{range .Types}}
        <span data-type="{{.Id}}">
	        <img src="/static/images/unitType?id={{.Id}}">
	        {{.Name}}
        </span>
      {{end}}
    </div>
  </div>
  <div id="main">
