<div id="mapHolder">
  <img src="http://i.imgur.com/8JoB8Mh.jpg" id="mapImage"> 
</div>
<script type="text/javascript">
$(document).ready(function() {
  crisis.Init();
  $.ajax("ajax", {
    success: function(data) {
      var t = new crisis.Map(data); 
    }
  });
});
</script>
