<div id="mapOuterDiv">
  <div id="mapBounds" style="position: absolute"></div>
  <div id="mapHolder">
    <img src="http://i.imgur.com/8JoB8Mh.jpg" id="mapImage">
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  crisis.init();
  crisis.map.init();
});
</script>
