$headerHeight: 40px;
$headerZ: 10000;
$mapHolderZ: $headerZ / 2;
$mapBoundsZ: -1;

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    li {
        list-style-type: none;
    }
}

#header {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    height: $headerHeight;
    width: 100%;
    background-color: white;
    padding: 10px;
    z-index: $headerZ;
    background-color: #444444;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);

    input {
        background-color: #444444;
    }

    * {
        color: white;
    }
}

.mfa-button {
    cursor: pointer;
    &:hover {
        color: grey;
    }
}

.mainBody {
    position: fixed;
    left: 0;
    top: $headerHeight;
    width: 100vw;
    height: 56.25vw;
    max-height: calc(100 * (vh - 40px));
    max-width: calc(177.78 * (vh - 40px));
    margin: auto;
    top: 40px; bottom:0;
    left:0; right:0;
    overflow: hidden;

    div {
        position: absolute;
    }
}

#mapOuterDiv {
    height: 100%;
    width: 100%;
}

#mapBounds {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: $mapBoundsZ;
}

#mapHolder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: $mapHolderZ;
}

#mapImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#unitTypeFinder {
    width: 100px;
    background-color: white;
    
}

.dropdown {
    position: absolute;
}

.divisionMarker {
    position: absolute;
}

.divisionPane {
    background-color: rgba(44,44,44,0.5);
    width: 200px;
    min-height: 10px;
    box-shadow: 3px 4px 5px #444444;

    * {
        color: white;
    }

    input[type=text], input[type=button], select {
        background-color: #444444;
    }
    
    .closeButton {
        float: right;
    }

    .details {
        position: relative;
        
        .unitList {
            width: 100%;
            
            .unitListItem {
                .editField {
                    width: 50px;
                }
            }
        }
    }

    .routePlotter {
        position: relative;
    }
}

#controls {
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgba(44,44,44,0.9);
    z-index: 10000;
    padding-top: 10px;
    width: 100%;

    input {
        background-color: #444444;
    }

    div {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
    }

    * {
        color: white;
    }
    
    form {
        display: inline;
        vertical-align: top;
    }

    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}